[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
aiohttp = "*"
pymbtiles = "==0.3.1"
tqdm = "*"
numpy = "*"


[dev-packages]

pylint = "*"


[requires]

python_version = "3.6"
